.icon-arrowBack {
  position: absolute;
  top: 23px;
  left: 23px;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  font-size: 32px;
}
.icon-arrowBack:hover {
  background: #8d1b3d1f;
}
.icon-arrowBack:active {
  background: #8d1b3d2f;
}
