.container-calendar {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 1px;
}

.title-calendar {
  margin: 10px 0px;
  font-size: 1.3rem !important;
  line-height: 2.3 !important;
}

@media screen and (max-width: 768px) {
  .title-calendar {
    font-weight: 300;
    font-size: 1.2rem !important;
    margin: 7px 0px;

    line-height: 2 !important;
  }
  .container-calendar {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .title-calendar {
    font-weight: 300;
    font-size: 1rem !important;
    margin: 4px 0px;

    line-height: 1.8 !important;
  }
  .container-calendar {
    margin-bottom: 20px;
  }
}
