.carousel-quinielas {
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.paper-custom {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 5px 5px 0 0;
}

.phase-title {
  font-size: 1.8rem !important;
  margin: 0 auto !important;
  color: #fdfdfd;
}

.mobile-stepper-custom {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: #ccc;
}

.icon-ball-title {
  font-size: 1.37rem;
  margin-top: 3px;
}

@media screen and (max-width: 800px) {
  .phase-title {
    font-size: 1.6rem !important;
  }
  .paper-custom {
    height: 40px;
  }
  .icon-ball-title {
    font-size: 1.2rem;
    margin-top: 2px;
  }
}

@media screen and (max-width: 480px) {
  .phase-title {
    font-size: 1.3rem !important;
  }
  .paper-custom {
    height: 35px;
  }
  .icon-ball-title {
    font-size: 1rem;
    margin-top: 1.9px;
  }
}
