.carousel-quinielas {
  max-width: 100%;
  min-width: 300px;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.paper-custom {
  display: flex;
  align-items: center;
  height: 50;
  border-radius: 5px 5px 0 0;
}

.phase-title {
  font-size: 29px !important;
  margin: 0 auto !important;
  color: #fdfdfd;
}

.mobile-stepper-custom {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: #ccc;
}
