.Header {
  background: rgba(66, 6, 6, 0.9);
  width: 100%;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.container-btns {
  display: flex;
  gap: 20px;
  position: sticky;
  top: 0;
}

.Header .container-imgs {
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.btns-auth {
  color: rgb(210, 208, 208);
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s;
  font-size: 1.2rem;
  display: block;
}

.btns-auth:hover {
  background-color: rgb(219 219 219 / 20%);
}

.btns-menu-movil {
  display: none;
}
.btns-menu-desktop {
  display: flex;
}

.basic-menu ul {
  background-color: rgba(219, 219, 219, 0.82);
}

@media screen and (max-width: 768px) {
  .Header {
    justify-content: space-between;
    height: 100px;
    padding: 0 10px;
  }

  .Header .container-imgs {
    height: 70px;
  }

  .container-btns {
    gap: 0px;
  }

  .btns-auth {
    font-size: 0.95rem;
    padding: 9px;
  }
}

@media screen and (max-width: 480px) {
  .Header {
    justify-content: space-between;
    padding: 0 10px;
    height: 69px;
  }
  .Header .container-imgs {
    height: 60px;
  }
  .btns-menu-movil {
    display: block;
  }
  .btns-menu-desktop {
    display: none;
  }
}
