.Header {
  background: rgba(66, 6, 6, 0.9);
  width: 100%;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-sizing: border-box;
  /* position: sticky;
  top: 0; */
  margin-bottom: 50px;
}

.btns-auth {
  color: rgb(210, 208, 208);
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s;
  font-size: 1.2rem;
}

.btns-auth:hover {
  background-color: rgba(204, 204, 204, 0.146);
  /* color: antiquewhite; */
}
