.Header {
  background: rgba(66, 6, 6, 0.9);
  width: 100%;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.container-btns {
  display: flex;
  gap: 20px;
  position: sticky;
  top: 0;
}

.btns-auth {
  color: rgb(210, 208, 208);
  padding: 20px;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s;
  font-size: 1.2rem;
  display: block;
}

.btns-auth:hover {
  background-color: rgba(204, 204, 204, 0.146);
}

.btns-menu-movil {
  display: none;
}
.btns-menu-desktop {
  display: flex;
}

@media screen and (max-width: 768px) {
  .Header {
    justify-content: space-between;
  }

  .imgs-header {
    width: 200px;
  }

  .container-btns {
    gap: 0px;
  }

  .btns-auth {
    font-size: 1rem;
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .Header {
    justify-content: space-between;
    padding: 0 10px;
    height: 95px;
  }
  .btns-menu-movil {
    display: block;
  }
  .btns-menu-desktop {
    display: none;
  }
}
/* .container-mascota {
  background-image: url("../assets/mascotaB.png");
  background-position: center;
  background-size: cover;
  width: 6rem;
  height: 6rem;
} */
