input[type="number"] {
  -moz-appearance: textfield;
}

.MuiInputBase-input::-webkit-outer-spin-button,
.MuiInputBase-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

#outlined-number::placeholder {
  font-weight: 400;
}
