.sidebar-container {
  height: 100vh;
  background: #2b86c8;
  background-position: center;
  background-size: cover;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  min-width: 230px;
  width: 40%;
}

.username-title {
  position: relative;
  padding: 35px 0 15px;
  margin: 5px 0 24px;
  color: #f4f4f4;
}

.points {
  position: relative;
  border-radius: 5px;
  padding: 5px 0px;
}
