* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* font-family: "Roboto"; */
  /* font-family: "Domine", serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Signika";
  font-weight: 100;
}

#root {
  background-color: #99c3e1;
}
