* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* font-family: "Roboto"; */
  /* font-family: "Domine", serif; */
  font-family: "Poppins", sans-serif;
  /* background-image: url("./vienna-reyes-qCrKTET_09o-unsplas.jpg"); */
}
